@font-face {
    font-family: "Roboto-Bold";
    src: url("../src/fonts/Roboto-Bold.ttf") format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../src/fonts/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: "Roboto-Regular", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-image: url(../src/images/texture.jpg);
    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 120px;
    line-height: 80px;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    background-color: #0b1f45;
    box-shadow: 0px 0px 12px 3px #000000;
}

.header-logo {
    height: 80px;
    vertical-align: top;
}

header h1 {
    display: inline-block;
    margin: 0 0 0 80px;
    padding: 0;
    line-height: 80px;
    font-family: "Roboto-Bold";
    font-size: 50px;
    text-shadow: 3px 2px 7px aqua;
}

.container {
    box-sizing: border-box;
    width: 900px;
    margin: 0 auto;
}

main {
    box-sizing: border-box;
    display: inline-block;
    margin: 160px 0 20px 20px;
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px #ffffff, 1px 1px 1px #ffffff;
    background-color: #ffffff80;
}

main h2 {
    font-family: "Roboto-Bold";
}

main img {
    width: 100%;
    border-radius: 20px;
}

aside {
    position: sticky;
    top: 160px;
    display: inline-block;
    vertical-align: top;
    width: 260px;
}

aside img {
    width: 240px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: relative;
    top: 0;
}
aside img:hover {
    top: -5px;
    box-shadow: 2px 3px 4px #0b1f45;
}

footer {
    box-sizing: border-box;
    padding: 20px 0;
    height: 140px;
    text-align: center;
    color: #ffffff;
    background-color: #0b1f45;
    box-shadow: 0px 0px 12px 3px #000000;
}

.foot {
    box-sizing: border-box;
    display: inline-block;
    width: 260px;
    vertical-align: top;
    text-align: left;
}
.foot:nth-child(2) {
    margin: 0 40px;
}
.foot:last-child {
    text-align: right;
}
.foot img {
    margin-top: 5px;
    height: 80px;
}


